version: "3.9"

services:
  backend:
    image: sohail28/github-dashboard-backend:1.0
    container_name: github-dashboard-backend
    ports:
      - "8000:8000"
    environment:
      - ENV=production
    restart: unless-stopped

